/* 
DISPLAY-TYPE 1.0.0
*/
/* Block Level */
[data-dt~="d-n"] {
  display: none; }

[data-dt~="d-b"] {
  display: block; }

[data-dt~="d-ib"] {
  display: inline-block; }

[data-dt~="d-f"] {
  display: flex;
  flex-direction: row; }

[data-dt~="d-fc"] {
  display: flex;
  flex-direction: column; }

[data-dt~="ff-r"] {
  flex-flow: row; }

[data-dt~="ff-rr"] {
  flex-flow: row-reverse; }

[data-dt~="ff-c"] {
  flex-flow: column; }

[data-dt~="ff-cr"] {
  flex-flow: column-reverse; }

[data-dt~="ff-nw"] {
  flex-flow: nowrap; }

[data-dt~="ff-w"] {
  flex-flow: wrap; }

[data-dt~="ff-wr"] {
  flex-flow: wrap-reverse; }

[data-dt~="fw-w"] {
  flex-wrap: wrap; }

[data-dt~="fw-nw"] {
  flex-wrap: nowrap; }

[data-dt~="fw-wr"] {
  flex-wrap: wrap-reverse; }

[data-dt~="jc-c"] {
  justify-content: center; }

[data-dt~="jc-sb"] {
  justify-content: space-between; }

[data-dt~="jc-sa"] {
  justify-content: space-around; }

[data-dt~="jc-se"] {
  justify-content: space-evenly; }

[data-dt~="jc-fs"] {
  justify-content: flex-start; }

[data-dt~="jc-fe"] {
  justify-content: flex-end; }

[data-dt~="jc-vc"] {
  align-items: center;
  justify-content: center; }

[data-dt~="ai-b"] {
  align-items: baseline; }

[data-dt~="ai-fb"] {
  align-items: first baseline; }

[data-dt~="ai-lb"] {
  align-items: last baseline; }

[data-dt~="ai-s"] {
  align-items: stretch; }

[data-dt~="ai-c"] {
  align-items: center; }

[data-dt~="ai-fs"] {
  align-items: flex-start; }

[data-dt~="ai-fe"] {
  align-items: flex-end; }

[data-dt~="as-fs"] {
  align-self: flex-start; }

[data-dt~="as-c"] {
  align-self: center; }

[data-dt~="as-fe"] {
  align-self: flex-end; }

[data-dt~="as-b"] {
  align-self: baseline; }

[data-dt~="as-fb"] {
  align-self: first baseline; }

[data-dt~="as-lb"] {
  align-self: last baseline; }

[data-dt~="as-s"] {
  align-self: stretch; }

[data-dt~="fg-1"] {
  flex-grow: 1; }

[data-dt~="fg-2"] {
  flex-grow: 2; }

[data-dt~="fg-3"] {
  flex-grow: 3; }

[data-dt~="fg-4"] {
  flex-grow: 4; }

[data-dt~="fg-5"] {
  flex-grow: 5; }

[data-dt~="fg-6"] {
  flex-grow: 6; }

[data-dt~="fg-7"] {
  flex-grow: 7; }

[data-dt~="fg-8"] {
  flex-grow: 8; }

[data-dt~="fg-9"] {
  flex-grow: 9; }

[data-dt~="fg-10"] {
  flex-grow: 10; }

[data-dt~="fg-11"] {
  flex-grow: 11; }

[data-dt~="fg-12"] {
  flex-grow: 12; }

[data-dt~="fs-1"] {
  flex-shrink: 1; }

[data-dt~="fs-2"] {
  flex-shrink: 2; }

[data-dt~="fs-3"] {
  flex-shrink: 3; }

[data-dt~="fs-4"] {
  flex-shrink: 4; }

[data-dt~="fs-5"] {
  flex-shrink: 5; }

[data-dt~="fs-6"] {
  flex-shrink: 6; }

[data-dt~="fs-7"] {
  flex-shrink: 7; }

[data-dt~="fs-8"] {
  flex-shrink: 8; }

[data-dt~="fs-9"] {
  flex-shrink: 9; }

[data-dt~="fs-10"] {
  flex-shrink: 10; }

[data-dt~="fs-11"] {
  flex-shrink: 11; }

[data-dt~="fs-12"] {
  flex-shrink: 12; }

[data-dt~="m-a"] {
  margin: auto; }

[data-dt~="ml-a"] {
  margin-left: auto; }

[data-dt~="mr-a"] {
  margin-right: auto; }

[data-dt~="w-1"] {
  width: calc((100% / 12 * 1) - 10px); }

[data-dt~="w-2"] {
  width: calc((100% / 12 * 2) - 10px); }

[data-dt~="w-3"] {
  width: calc((100% / 12 * 3) - 10px); }

[data-dt~="w-4"] {
  width: calc((100% / 12 * 4) - 10px); }

[data-dt~="w-5"] {
  width: calc((100% / 12 * 5) - 10px); }

[data-dt~="w-6"] {
  width: calc((100% / 12 * 6) - 10px); }

[data-dt~="w-7"] {
  width: calc((100% / 12 * 7) - 10px); }

[data-dt~="w-8"] {
  width: calc((100% / 12 * 8) - 10px); }

[data-dt~="w-9"] {
  width: calc((100% / 12 * 9) - 10px); }

[data-dt~="w-10"] {
  width: calc((100% / 12 * 10) - 10px); }

[data-dt~="w-11"] {
  width: calc((100% / 12 * 11) - 10px); }

[data-dt~="w-12"] {
  width: calc((100% / 12 * 12) - 10px); }

@media screen and (min-width: 580px) {
  [data-dt-sm~="d-n"] {
    display: none; }
  [data-dt-sm~="d-b"] {
    display: block; }
  [data-dt-sm~="d-ib"] {
    display: inline-block; }
  [data-dt-sm~="d-f"] {
    display: flex;
    flex-direction: row; }
  [data-dt-sm~="d-fc"] {
    display: flex;
    flex-direction: column; }
  [data-dt-sm~="ff-r"] {
    flex-flow: row; }
  [data-dt-sm~="ff-rr"] {
    flex-flow: row-reverse; }
  [data-dt-sm~="ff-c"] {
    flex-flow: column; }
  [data-dt-sm~="ff-cr"] {
    flex-flow: column-reverse; }
  [data-dt-sm~="ff-nw"] {
    flex-flow: nowrap; }
  [data-dt-sm~="ff-w"] {
    flex-flow: wrap; }
  [data-dt-sm~="ff-wr"] {
    flex-flow: wrap-reverse; }
  [data-dt-sm~="fw-w"] {
    flex-wrap: wrap; }
  [data-dt-sm~="fw-nw"] {
    flex-wrap: nowrap; }
  [data-dt-sm~="fw-wr"] {
    flex-wrap: wrap-reverse; }
  [data-dt-sm~="jc-c"] {
    justify-content: center; }
  [data-dt-sm~="jc-sb"] {
    justify-content: space-between; }
  [data-dt-sm~="jc-sa"] {
    justify-content: space-around; }
  [data-dt-sm~="jc-se"] {
    justify-content: space-evenly; }
  [data-dt-sm~="jc-fs"] {
    justify-content: flex-start; }
  [data-dt-sm~="jc-fe"] {
    justify-content: flex-end; }
  [data-dt-sm~="jc-vc"] {
    align-items: center;
    justify-content: center; }
  [data-dt-sm~="ai-b"] {
    align-items: baseline; }
  [data-dt-sm~="ai-fb"] {
    align-items: first baseline; }
  [data-dt-sm~="ai-lb"] {
    align-items: last baseline; }
  [data-dt-sm~="ai-s"] {
    align-items: stretch; }
  [data-dt-sm~="ai-c"] {
    align-items: center; }
  [data-dt-sm~="ai-fs"] {
    align-items: flex-start; }
  [data-dt-sm~="ai-fe"] {
    align-items: flex-end; }
  [data-dt-sm~="as-fs"] {
    align-self: flex-start; }
  [data-dt-sm~="as-c"] {
    align-self: center; }
  [data-dt-sm~="as-fe"] {
    align-self: flex-end; }
  [data-dt-sm~="as-b"] {
    align-self: baseline; }
  [data-dt-sm~="as-fb"] {
    align-self: first baseline; }
  [data-dt-sm~="as-lb"] {
    align-self: last baseline; }
  [data-dt-sm~="as-s"] {
    align-self: stretch; }
  [data-dt-sm~="fg-1"] {
    flex-grow: 1; }
  [data-dt-sm~="fg-2"] {
    flex-grow: 2; }
  [data-dt-sm~="fg-3"] {
    flex-grow: 3; }
  [data-dt-sm~="fg-4"] {
    flex-grow: 4; }
  [data-dt-sm~="fg-5"] {
    flex-grow: 5; }
  [data-dt-sm~="fg-6"] {
    flex-grow: 6; }
  [data-dt-sm~="fg-7"] {
    flex-grow: 7; }
  [data-dt-sm~="fg-8"] {
    flex-grow: 8; }
  [data-dt-sm~="fg-9"] {
    flex-grow: 9; }
  [data-dt-sm~="fg-10"] {
    flex-grow: 10; }
  [data-dt-sm~="fg-11"] {
    flex-grow: 11; }
  [data-dt-sm~="fg-12"] {
    flex-grow: 12; }
  [data-dt-sm~="fs-1"] {
    flex-shrink: 1; }
  [data-dt-sm~="fs-2"] {
    flex-shrink: 2; }
  [data-dt-sm~="fs-3"] {
    flex-shrink: 3; }
  [data-dt-sm~="fs-4"] {
    flex-shrink: 4; }
  [data-dt-sm~="fs-5"] {
    flex-shrink: 5; }
  [data-dt-sm~="fs-6"] {
    flex-shrink: 6; }
  [data-dt-sm~="fs-7"] {
    flex-shrink: 7; }
  [data-dt-sm~="fs-8"] {
    flex-shrink: 8; }
  [data-dt-sm~="fs-9"] {
    flex-shrink: 9; }
  [data-dt-sm~="fs-10"] {
    flex-shrink: 10; }
  [data-dt-sm~="fs-11"] {
    flex-shrink: 11; }
  [data-dt-sm~="fs-12"] {
    flex-shrink: 12; }
  [data-dt-sm~="m-a"] {
    margin: auto; }
  [data-dt-sm~="ml-a"] {
    margin-left: auto; }
  [data-dt-sm~="mr-a"] {
    margin-right: auto; }
  [data-dt-sm~="w-1"] {
    width: calc((100% / 12 * 1) - 10px); }
  [data-dt-sm~="w-2"] {
    width: calc((100% / 12 * 2) - 10px); }
  [data-dt-sm~="w-3"] {
    width: calc((100% / 12 * 3) - 10px); }
  [data-dt-sm~="w-4"] {
    width: calc((100% / 12 * 4) - 10px); }
  [data-dt-sm~="w-5"] {
    width: calc((100% / 12 * 5) - 10px); }
  [data-dt-sm~="w-6"] {
    width: calc((100% / 12 * 6) - 10px); }
  [data-dt-sm~="w-7"] {
    width: calc((100% / 12 * 7) - 10px); }
  [data-dt-sm~="w-8"] {
    width: calc((100% / 12 * 8) - 10px); }
  [data-dt-sm~="w-9"] {
    width: calc((100% / 12 * 9) - 10px); }
  [data-dt-sm~="w-10"] {
    width: calc((100% / 12 * 10) - 10px); }
  [data-dt-sm~="w-11"] {
    width: calc((100% / 12 * 11) - 10px); }
  [data-dt-sm~="w-12"] {
    width: calc((100% / 12 * 12) - 10px); } }

@media screen and (min-width: 768px) {
  [data-dt-md~="d-n"] {
    display: none; }
  [data-dt-md~="d-b"] {
    display: block; }
  [data-dt-md~="d-ib"] {
    display: inline-block; }
  [data-dt-md~="d-f"] {
    display: flex;
    flex-direction: row; }
  [data-dt-md~="d-fc"] {
    display: flex;
    flex-direction: column; }
  [data-dt-md~="ff-r"] {
    flex-flow: row; }
  [data-dt-md~="ff-rr"] {
    flex-flow: row-reverse; }
  [data-dt-md~="ff-c"] {
    flex-flow: column; }
  [data-dt-md~="ff-cr"] {
    flex-flow: column-reverse; }
  [data-dt-md~="ff-nw"] {
    flex-flow: nowrap; }
  [data-dt-md~="ff-w"] {
    flex-flow: wrap; }
  [data-dt-md~="ff-wr"] {
    flex-flow: wrap-reverse; }
  [data-dt-md~="fw-w"] {
    flex-wrap: wrap; }
  [data-dt-md~="fw-nw"] {
    flex-wrap: nowrap; }
  [data-dt-md~="fw-wr"] {
    flex-wrap: wrap-reverse; }
  [data-dt-md~="jc-c"] {
    justify-content: center; }
  [data-dt-md~="jc-sb"] {
    justify-content: space-between; }
  [data-dt-md~="jc-sa"] {
    justify-content: space-around; }
  [data-dt-md~="jc-se"] {
    justify-content: space-evenly; }
  [data-dt-md~="jc-fs"] {
    justify-content: flex-start; }
  [data-dt-md~="jc-fe"] {
    justify-content: flex-end; }
  [data-dt-md~="jc-vc"] {
    align-items: center;
    justify-content: center; }
  [data-dt-md~="ai-b"] {
    align-items: baseline; }
  [data-dt-md~="ai-fb"] {
    align-items: first baseline; }
  [data-dt-md~="ai-lb"] {
    align-items: last baseline; }
  [data-dt-md~="ai-s"] {
    align-items: stretch; }
  [data-dt-md~="ai-c"] {
    align-items: center; }
  [data-dt-md~="ai-fs"] {
    align-items: flex-start; }
  [data-dt-md~="ai-fe"] {
    align-items: flex-end; }
  [data-dt-md~="as-fs"] {
    align-self: flex-start; }
  [data-dt-md~="as-c"] {
    align-self: center; }
  [data-dt-md~="as-fe"] {
    align-self: flex-end; }
  [data-dt-md~="as-b"] {
    align-self: baseline; }
  [data-dt-md~="as-fb"] {
    align-self: first baseline; }
  [data-dt-md~="as-lb"] {
    align-self: last baseline; }
  [data-dt-md~="as-s"] {
    align-self: stretch; }
  [data-dt-md~="fg-1"] {
    flex-grow: 1; }
  [data-dt-md~="fg-2"] {
    flex-grow: 2; }
  [data-dt-md~="fg-3"] {
    flex-grow: 3; }
  [data-dt-md~="fg-4"] {
    flex-grow: 4; }
  [data-dt-md~="fg-5"] {
    flex-grow: 5; }
  [data-dt-md~="fg-6"] {
    flex-grow: 6; }
  [data-dt-md~="fg-7"] {
    flex-grow: 7; }
  [data-dt-md~="fg-8"] {
    flex-grow: 8; }
  [data-dt-md~="fg-9"] {
    flex-grow: 9; }
  [data-dt-md~="fg-10"] {
    flex-grow: 10; }
  [data-dt-md~="fg-11"] {
    flex-grow: 11; }
  [data-dt-md~="fg-12"] {
    flex-grow: 12; }
  [data-dt-md~="fs-1"] {
    flex-shrink: 1; }
  [data-dt-md~="fs-2"] {
    flex-shrink: 2; }
  [data-dt-md~="fs-3"] {
    flex-shrink: 3; }
  [data-dt-md~="fs-4"] {
    flex-shrink: 4; }
  [data-dt-md~="fs-5"] {
    flex-shrink: 5; }
  [data-dt-md~="fs-6"] {
    flex-shrink: 6; }
  [data-dt-md~="fs-7"] {
    flex-shrink: 7; }
  [data-dt-md~="fs-8"] {
    flex-shrink: 8; }
  [data-dt-md~="fs-9"] {
    flex-shrink: 9; }
  [data-dt-md~="fs-10"] {
    flex-shrink: 10; }
  [data-dt-md~="fs-11"] {
    flex-shrink: 11; }
  [data-dt-md~="fs-12"] {
    flex-shrink: 12; }
  [data-dt-md~="m-a"] {
    margin: auto; }
  [data-dt-md~="ml-a"] {
    margin-left: auto; }
  [data-dt-md~="mr-a"] {
    margin-right: auto; }
  [data-dt-md~="w-1"] {
    width: calc((100% / 12 * 1) - 10px); }
  [data-dt-md~="w-2"] {
    width: calc((100% / 12 * 2) - 10px); }
  [data-dt-md~="w-3"] {
    width: calc((100% / 12 * 3) - 10px); }
  [data-dt-md~="w-4"] {
    width: calc((100% / 12 * 4) - 10px); }
  [data-dt-md~="w-5"] {
    width: calc((100% / 12 * 5) - 10px); }
  [data-dt-md~="w-6"] {
    width: calc((100% / 12 * 6) - 10px); }
  [data-dt-md~="w-7"] {
    width: calc((100% / 12 * 7) - 10px); }
  [data-dt-md~="w-8"] {
    width: calc((100% / 12 * 8) - 10px); }
  [data-dt-md~="w-9"] {
    width: calc((100% / 12 * 9) - 10px); }
  [data-dt-md~="w-10"] {
    width: calc((100% / 12 * 10) - 10px); }
  [data-dt-md~="w-11"] {
    width: calc((100% / 12 * 11) - 10px); }
  [data-dt-md~="w-12"] {
    width: calc((100% / 12 * 12) - 10px); } }

@media screen and (min-width: 1050px) {
  [data-dt-lg~="d-n"] {
    display: none; }
  [data-dt-lg~="d-b"] {
    display: block; }
  [data-dt-lg~="d-ib"] {
    display: inline-block; }
  [data-dt-lg~="d-f"] {
    display: flex;
    flex-direction: row; }
  [data-dt-lg~="d-fc"] {
    display: flex;
    flex-direction: column; }
  [data-dt-lg~="ff-r"] {
    flex-flow: row; }
  [data-dt-lg~="ff-rr"] {
    flex-flow: row-reverse; }
  [data-dt-lg~="ff-c"] {
    flex-flow: column; }
  [data-dt-lg~="ff-cr"] {
    flex-flow: column-reverse; }
  [data-dt-lg~="ff-nw"] {
    flex-flow: nowrap; }
  [data-dt-lg~="ff-w"] {
    flex-flow: wrap; }
  [data-dt-lg~="ff-wr"] {
    flex-flow: wrap-reverse; }
  [data-dt-lg~="fw-w"] {
    flex-wrap: wrap; }
  [data-dt-lg~="fw-nw"] {
    flex-wrap: nowrap; }
  [data-dt-lg~="fw-wr"] {
    flex-wrap: wrap-reverse; }
  [data-dt-lg~="jc-c"] {
    justify-content: center; }
  [data-dt-lg~="jc-sb"] {
    justify-content: space-between; }
  [data-dt-lg~="jc-sa"] {
    justify-content: space-around; }
  [data-dt-lg~="jc-se"] {
    justify-content: space-evenly; }
  [data-dt-lg~="jc-fs"] {
    justify-content: flex-start; }
  [data-dt-lg~="jc-fe"] {
    justify-content: flex-end; }
  [data-dt-lg~="jc-vc"] {
    align-items: center;
    justify-content: center; }
  [data-dt-lg~="ai-b"] {
    align-items: baseline; }
  [data-dt-lg~="ai-fb"] {
    align-items: first baseline; }
  [data-dt-lg~="ai-lb"] {
    align-items: last baseline; }
  [data-dt-lg~="ai-s"] {
    align-items: stretch; }
  [data-dt-lg~="ai-c"] {
    align-items: center; }
  [data-dt-lg~="ai-fs"] {
    align-items: flex-start; }
  [data-dt-lg~="ai-fe"] {
    align-items: flex-end; }
  [data-dt-lg~="as-fs"] {
    align-self: flex-start; }
  [data-dt-lg~="as-c"] {
    align-self: center; }
  [data-dt-lg~="as-fe"] {
    align-self: flex-end; }
  [data-dt-lg~="as-b"] {
    align-self: baseline; }
  [data-dt-lg~="as-fb"] {
    align-self: first baseline; }
  [data-dt-lg~="as-lb"] {
    align-self: last baseline; }
  [data-dt-lg~="as-s"] {
    align-self: stretch; }
  [data-dt-lg~="fg-1"] {
    flex-grow: 1; }
  [data-dt-lg~="fg-2"] {
    flex-grow: 2; }
  [data-dt-lg~="fg-3"] {
    flex-grow: 3; }
  [data-dt-lg~="fg-4"] {
    flex-grow: 4; }
  [data-dt-lg~="fg-5"] {
    flex-grow: 5; }
  [data-dt-lg~="fg-6"] {
    flex-grow: 6; }
  [data-dt-lg~="fg-7"] {
    flex-grow: 7; }
  [data-dt-lg~="fg-8"] {
    flex-grow: 8; }
  [data-dt-lg~="fg-9"] {
    flex-grow: 9; }
  [data-dt-lg~="fg-10"] {
    flex-grow: 10; }
  [data-dt-lg~="fg-11"] {
    flex-grow: 11; }
  [data-dt-lg~="fg-12"] {
    flex-grow: 12; }
  [data-dt-lg~="fs-1"] {
    flex-shrink: 1; }
  [data-dt-lg~="fs-2"] {
    flex-shrink: 2; }
  [data-dt-lg~="fs-3"] {
    flex-shrink: 3; }
  [data-dt-lg~="fs-4"] {
    flex-shrink: 4; }
  [data-dt-lg~="fs-5"] {
    flex-shrink: 5; }
  [data-dt-lg~="fs-6"] {
    flex-shrink: 6; }
  [data-dt-lg~="fs-7"] {
    flex-shrink: 7; }
  [data-dt-lg~="fs-8"] {
    flex-shrink: 8; }
  [data-dt-lg~="fs-9"] {
    flex-shrink: 9; }
  [data-dt-lg~="fs-10"] {
    flex-shrink: 10; }
  [data-dt-lg~="fs-11"] {
    flex-shrink: 11; }
  [data-dt-lg~="fs-12"] {
    flex-shrink: 12; }
  [data-dt-lg~="m-a"] {
    margin: auto; }
  [data-dt-lg~="ml-a"] {
    margin-left: auto; }
  [data-dt-lg~="mr-a"] {
    margin-right: auto; }
  [data-dt-lg~="w-1"] {
    width: calc((100% / 12 * 1) - 10px); }
  [data-dt-lg~="w-2"] {
    width: calc((100% / 12 * 2) - 10px); }
  [data-dt-lg~="w-3"] {
    width: calc((100% / 12 * 3) - 10px); }
  [data-dt-lg~="w-4"] {
    width: calc((100% / 12 * 4) - 10px); }
  [data-dt-lg~="w-5"] {
    width: calc((100% / 12 * 5) - 10px); }
  [data-dt-lg~="w-6"] {
    width: calc((100% / 12 * 6) - 10px); }
  [data-dt-lg~="w-7"] {
    width: calc((100% / 12 * 7) - 10px); }
  [data-dt-lg~="w-8"] {
    width: calc((100% / 12 * 8) - 10px); }
  [data-dt-lg~="w-9"] {
    width: calc((100% / 12 * 9) - 10px); }
  [data-dt-lg~="w-10"] {
    width: calc((100% / 12 * 10) - 10px); }
  [data-dt-lg~="w-11"] {
    width: calc((100% / 12 * 11) - 10px); }
  [data-dt-lg~="w-12"] {
    width: calc((100% / 12 * 12) - 10px); } }

@media screen and (min-width: 1440px) {
  [data-dt-xl~="d-n"] {
    display: none; }
  [data-dt-xl~="d-b"] {
    display: block; }
  [data-dt-xl~="d-ib"] {
    display: inline-block; }
  [data-dt-xl~="d-f"] {
    display: flex;
    flex-direction: row; }
  [data-dt-xl~="d-fc"] {
    display: flex;
    flex-direction: column; }
  [data-dt-xl~="ff-r"] {
    flex-flow: row; }
  [data-dt-xl~="ff-rr"] {
    flex-flow: row-reverse; }
  [data-dt-xl~="ff-c"] {
    flex-flow: column; }
  [data-dt-xl~="ff-cr"] {
    flex-flow: column-reverse; }
  [data-dt-xl~="ff-nw"] {
    flex-flow: nowrap; }
  [data-dt-xl~="ff-w"] {
    flex-flow: wrap; }
  [data-dt-xl~="ff-wr"] {
    flex-flow: wrap-reverse; }
  [data-dt-xl~="fw-w"] {
    flex-wrap: wrap; }
  [data-dt-xl~="fw-nw"] {
    flex-wrap: nowrap; }
  [data-dt-xl~="fw-wr"] {
    flex-wrap: wrap-reverse; }
  [data-dt-xl~="jc-c"] {
    justify-content: center; }
  [data-dt-xl~="jc-sb"] {
    justify-content: space-between; }
  [data-dt-xl~="jc-sa"] {
    justify-content: space-around; }
  [data-dt-xl~="jc-se"] {
    justify-content: space-evenly; }
  [data-dt-xl~="jc-fs"] {
    justify-content: flex-start; }
  [data-dt-xl~="jc-fe"] {
    justify-content: flex-end; }
  [data-dt-xl~="jc-vc"] {
    align-items: center;
    justify-content: center; }
  [data-dt-xl~="ai-b"] {
    align-items: baseline; }
  [data-dt-xl~="ai-fb"] {
    align-items: first baseline; }
  [data-dt-xl~="ai-lb"] {
    align-items: last baseline; }
  [data-dt-xl~="ai-s"] {
    align-items: stretch; }
  [data-dt-xl~="ai-c"] {
    align-items: center; }
  [data-dt-xl~="ai-fs"] {
    align-items: flex-start; }
  [data-dt-xl~="ai-fe"] {
    align-items: flex-end; }
  [data-dt-xl~="as-fs"] {
    align-self: flex-start; }
  [data-dt-xl~="as-c"] {
    align-self: center; }
  [data-dt-xl~="as-fe"] {
    align-self: flex-end; }
  [data-dt-xl~="as-b"] {
    align-self: baseline; }
  [data-dt-xl~="as-fb"] {
    align-self: first baseline; }
  [data-dt-xl~="as-lb"] {
    align-self: last baseline; }
  [data-dt-xl~="as-s"] {
    align-self: stretch; }
  [data-dt-xl~="fg-1"] {
    flex-grow: 1; }
  [data-dt-xl~="fg-2"] {
    flex-grow: 2; }
  [data-dt-xl~="fg-3"] {
    flex-grow: 3; }
  [data-dt-xl~="fg-4"] {
    flex-grow: 4; }
  [data-dt-xl~="fg-5"] {
    flex-grow: 5; }
  [data-dt-xl~="fg-6"] {
    flex-grow: 6; }
  [data-dt-xl~="fg-7"] {
    flex-grow: 7; }
  [data-dt-xl~="fg-8"] {
    flex-grow: 8; }
  [data-dt-xl~="fg-9"] {
    flex-grow: 9; }
  [data-dt-xl~="fg-10"] {
    flex-grow: 10; }
  [data-dt-xl~="fg-11"] {
    flex-grow: 11; }
  [data-dt-xl~="fg-12"] {
    flex-grow: 12; }
  [data-dt-xl~="fs-1"] {
    flex-shrink: 1; }
  [data-dt-xl~="fs-2"] {
    flex-shrink: 2; }
  [data-dt-xl~="fs-3"] {
    flex-shrink: 3; }
  [data-dt-xl~="fs-4"] {
    flex-shrink: 4; }
  [data-dt-xl~="fs-5"] {
    flex-shrink: 5; }
  [data-dt-xl~="fs-6"] {
    flex-shrink: 6; }
  [data-dt-xl~="fs-7"] {
    flex-shrink: 7; }
  [data-dt-xl~="fs-8"] {
    flex-shrink: 8; }
  [data-dt-xl~="fs-9"] {
    flex-shrink: 9; }
  [data-dt-xl~="fs-10"] {
    flex-shrink: 10; }
  [data-dt-xl~="fs-11"] {
    flex-shrink: 11; }
  [data-dt-xl~="fs-12"] {
    flex-shrink: 12; }
  [data-dt-xl~="m-a"] {
    margin: auto; }
  [data-dt-xl~="ml-a"] {
    margin-left: auto; }
  [data-dt-xl~="mr-a"] {
    margin-right: auto; }
  [data-dt-xl~="w-1"] {
    width: calc((100% / 12 * 1) - 10px); }
  [data-dt-xl~="w-2"] {
    width: calc((100% / 12 * 2) - 10px); }
  [data-dt-xl~="w-3"] {
    width: calc((100% / 12 * 3) - 10px); }
  [data-dt-xl~="w-4"] {
    width: calc((100% / 12 * 4) - 10px); }
  [data-dt-xl~="w-5"] {
    width: calc((100% / 12 * 5) - 10px); }
  [data-dt-xl~="w-6"] {
    width: calc((100% / 12 * 6) - 10px); }
  [data-dt-xl~="w-7"] {
    width: calc((100% / 12 * 7) - 10px); }
  [data-dt-xl~="w-8"] {
    width: calc((100% / 12 * 8) - 10px); }
  [data-dt-xl~="w-9"] {
    width: calc((100% / 12 * 9) - 10px); }
  [data-dt-xl~="w-10"] {
    width: calc((100% / 12 * 10) - 10px); }
  [data-dt-xl~="w-11"] {
    width: calc((100% / 12 * 11) - 10px); }
  [data-dt-xl~="w-12"] {
    width: calc((100% / 12 * 12) - 10px); } }
