/* 
DISPLAY-TYPE 1.0.0
*/
/* Block Level */
[class~='dt-dn'] {
  display: none; }

[class~='dt-db'] {
  display: block; }

[class~='dt-dib'] {
  display: inline-block; }

[class~='dt-df'] {
  display: flex;
  flex-direction: row; }

[class~='dt-dfc'] {
  display: flex;
  flex-direction: column; }

[class~='dt-ffr'] {
  flex-flow: row; }

[class~='dt-ffrr'] {
  flex-flow: row-reverse; }

[class~='dt-ffc'] {
  flex-flow: column; }

[class~='dt-ffcr'] {
  flex-flow: column-reverse; }

[class~='dt-ffnw'] {
  flex-flow: nowrap; }

[class~='dt-ffw'] {
  flex-flow: wrap; }

[class~='dt-ffwr'] {
  flex-flow: wrap-reverse; }

[class~='dt-fww'] {
  flex-wrap: wrap; }

[class~='dt-fwnw'] {
  flex-wrap: nowrap; }

[class~='dt-fwwr'] {
  flex-wrap: wrap-reverse; }

[class~='dt-jcc'] {
  justify-content: center; }

[class~='dt-jcsb'] {
  justify-content: space-between; }

[class~='dt-jcsa'] {
  justify-content: space-around; }

[class~='dt-jcse'] {
  justify-content: space-evenly; }

[class~='dt-jcfs'] {
  justify-content: flex-start; }

[class~='dt-jcfe'] {
  justify-content: flex-end; }

[class~='dt-jcvc'] {
  align-items: center;
  justify-content: center; }

[class~='dt-aib'] {
  align-items: baseline; }

[class~='dt-aifb'] {
  align-items: first baseline; }

[class~='dt-ailb'] {
  align-items: last baseline; }

[class~='dt-aist'] {
  align-items: stretch; }

[class~='dt-aic'] {
  align-items: center; }

[class~='dt-aifs'] {
  align-items: flex-start; }

[class~='dt-aife'] {
  align-items: flex-end; }

[class~='dt-asfs'] {
  align-self: flex-start; }

[class~='dt-asc'] {
  align-self: center; }

[class~='dt-asfe'] {
  align-self: flex-end; }

[class~='dt-asb'] {
  align-self: baseline; }

[class~='dt-asfb'] {
  align-self: first baseline; }

[class~='dt-aslb'] {
  align-self: last baseline; }

[class~='dt-asst'] {
  align-self: stretch; }

[class~='dt-fg1'] {
  flex-grow: 1; }

[class~='dt-fg2'] {
  flex-grow: 2; }

[class~='dt-fg3'] {
  flex-grow: 3; }

[class~='dt-fg4'] {
  flex-grow: 4; }

[class~='dt-fg5'] {
  flex-grow: 5; }

[class~='dt-fg6'] {
  flex-grow: 6; }

[class~='dt-fg7'] {
  flex-grow: 7; }

[class~='dt-fg8'] {
  flex-grow: 8; }

[class~='dt-fg9'] {
  flex-grow: 9; }

[class~='dt-fg10'] {
  flex-grow: 10; }

[class~='dt-fg11'] {
  flex-grow: 11; }

[class~='dt-fg12'] {
  flex-grow: 12; }

[class~='dt-fs1'] {
  flex-shrink: 1; }

[class~='dt-fs2'] {
  flex-shrink: 2; }

[class~='dt-fs3'] {
  flex-shrink: 3; }

[class~='dt-fs4'] {
  flex-shrink: 4; }

[class~='dt-fs5'] {
  flex-shrink: 5; }

[class~='dt-fs6'] {
  flex-shrink: 6; }

[class~='dt-fs7'] {
  flex-shrink: 7; }

[class~='dt-fs8'] {
  flex-shrink: 8; }

[class~='dt-fs9'] {
  flex-shrink: 9; }

[class~='dt-fs10'] {
  flex-shrink: 10; }

[class~='dt-fs11'] {
  flex-shrink: 11; }

[class~='dt-fs12'] {
  flex-shrink: 12; }

[class~='dt-fba'] {
  flex-basis: auto; }

[class~='dt-ma'] {
  margin: auto; }

[class~='dt-mla'] {
  margin-left: auto; }

[class~='dt-mra'] {
  margin-right: auto; }

[class~='dt-w1'] {
  width: calc((100% / 12 * 1) - 10px); }

[class~='dt-w2'] {
  width: calc((100% / 12 * 2) - 10px); }

[class~='dt-w3'] {
  width: calc((100% / 12 * 3) - 10px); }

[class~='dt-w4'] {
  width: calc((100% / 12 * 4) - 10px); }

[class~='dt-w5'] {
  width: calc((100% / 12 * 5) - 10px); }

[class~='dt-w6'] {
  width: calc((100% / 12 * 6) - 10px); }

[class~='dt-w7'] {
  width: calc((100% / 12 * 7) - 10px); }

[class~='dt-w8'] {
  width: calc((100% / 12 * 8) - 10px); }

[class~='dt-w9'] {
  width: calc((100% / 12 * 9) - 10px); }

[class~='dt-w10'] {
  width: calc((100% / 12 * 10) - 10px); }

[class~='dt-w11'] {
  width: calc((100% / 12 * 11) - 10px); }

[class~='dt-w12'] {
  width: calc((100% / 12 * 12) - 10px); }

@media screen and (min-width: 580px) {
  [class~='dt-dn-sm'] {
    display: none; }
  [class~='dt-db-sm'] {
    display: block; }
  [class~='dt-dib-sm'] {
    display: inline-block; }
  [class~='dt-df-sm'] {
    display: flex;
    flex-direction: row; }
  [class~='dt-dfc-sm'] {
    display: flex;
    flex-direction: column; }
  [class~='dt-ffr-sm'] {
    flex-flow: row; }
  [class~='dt-ffrr-sm'] {
    flex-flow: row-reverse; }
  [class~='dt-ffc-sm'] {
    flex-flow: column; }
  [class~='dt-ffcr-sm'] {
    flex-flow: column-reverse; }
  [class~='dt-ffnw-sm'] {
    flex-flow: nowrap; }
  [class~='dt-ffw-sm'] {
    flex-flow: wrap; }
  [class~='dt-ffwr-sm'] {
    flex-flow: wrap-reverse; }
  [class~='dt-fww-sm'] {
    flex-wrap: wrap; }
  [class~='dt-fwnw-sm'] {
    flex-wrap: nowrap; }
  [class~='dt-fwwr-sm'] {
    flex-wrap: wrap-reverse; }
  [class~='dt-jcc-sm'] {
    justify-content: center; }
  [class~='dt-jcsb-sm'] {
    justify-content: space-between; }
  [class~='dt-jcsa-sm'] {
    justify-content: space-around; }
  [class~='dt-jcse-sm'] {
    justify-content: space-evenly; }
  [class~='dt-jcfs-sm'] {
    justify-content: flex-start; }
  [class~='dt-jcfe-sm'] {
    justify-content: flex-end; }
  [class~='dt-jcvc-sm'] {
    align-items: center;
    justify-content: center; }
  [class~='dt-aib-sm'] {
    align-items: baseline; }
  [class~='dt-aifb-sm'] {
    align-items: first baseline; }
  [class~='dt-ailb-sm'] {
    align-items: last baseline; }
  [class~='dt-aist-sm'] {
    align-items: stretch; }
  [class~='dt-aic-sm'] {
    align-items: center; }
  [class~='dt-aifs-sm'] {
    align-items: flex-start; }
  [class~='dt-aife-sm'] {
    align-items: flex-end; }
  [class~='dt-asfs-sm'] {
    align-self: flex-start; }
  [class~='dt-asc-sm'] {
    align-self: center; }
  [class~='dt-asfe-sm'] {
    align-self: flex-end; }
  [class~='dt-asb-sm'] {
    align-self: baseline; }
  [class~='dt-asfb-sm'] {
    align-self: first baseline; }
  [class~='dt-aslb-sm'] {
    align-self: last baseline; }
  [class~='dt-asst-sm'] {
    align-self: stretch; }
  [class~='dt-fg1-sm'] {
    flex-grow: 1; }
  [class~='dt-fg2-sm'] {
    flex-grow: 2; }
  [class~='dt-fg3-sm'] {
    flex-grow: 3; }
  [class~='dt-fg4-sm'] {
    flex-grow: 4; }
  [class~='dt-fg5-sm'] {
    flex-grow: 5; }
  [class~='dt-fg6-sm'] {
    flex-grow: 6; }
  [class~='dt-fg7-sm'] {
    flex-grow: 7; }
  [class~='dt-fg8-sm'] {
    flex-grow: 8; }
  [class~='dt-fg9-sm'] {
    flex-grow: 9; }
  [class~='dt-fg10-sm'] {
    flex-grow: 10; }
  [class~='dt-fg11-sm'] {
    flex-grow: 11; }
  [class~='dt-fg12-sm'] {
    flex-grow: 12; }
  [class~='dt-fs1-sm'] {
    flex-shrink: 1; }
  [class~='dt-fs2-sm'] {
    flex-shrink: 2; }
  [class~='dt-fs3-sm'] {
    flex-shrink: 3; }
  [class~='dt-fs4-sm'] {
    flex-shrink: 4; }
  [class~='dt-fs5-sm'] {
    flex-shrink: 5; }
  [class~='dt-fs6-sm'] {
    flex-shrink: 6; }
  [class~='dt-fs7-sm'] {
    flex-shrink: 7; }
  [class~='dt-fs8-sm'] {
    flex-shrink: 8; }
  [class~='dt-fs9-sm'] {
    flex-shrink: 9; }
  [class~='dt-fs10-sm'] {
    flex-shrink: 10; }
  [class~='dt-fs11-sm'] {
    flex-shrink: 11; }
  [class~='dt-fs12-sm'] {
    flex-shrink: 12; }
  [class~='dt-fba-sm'] {
    flex-basis: auto; }
  [class~='dt-ma-sm'] {
    margin: auto; }
  [class~='dt-mla-sm'] {
    margin-left: auto; }
  [class~='dt-mra-sm'] {
    margin-right: auto; }
  [class~='dt-w1-sm'] {
    width: calc((100% / 12 * 1) - 10px); }
  [class~='dt-w2-sm'] {
    width: calc((100% / 12 * 2) - 10px); }
  [class~='dt-w3-sm'] {
    width: calc((100% / 12 * 3) - 10px); }
  [class~='dt-w4-sm'] {
    width: calc((100% / 12 * 4) - 10px); }
  [class~='dt-w5-sm'] {
    width: calc((100% / 12 * 5) - 10px); }
  [class~='dt-w6-sm'] {
    width: calc((100% / 12 * 6) - 10px); }
  [class~='dt-w7-sm'] {
    width: calc((100% / 12 * 7) - 10px); }
  [class~='dt-w8-sm'] {
    width: calc((100% / 12 * 8) - 10px); }
  [class~='dt-w9-sm'] {
    width: calc((100% / 12 * 9) - 10px); }
  [class~='dt-w10-sm'] {
    width: calc((100% / 12 * 10) - 10px); }
  [class~='dt-w11-sm'] {
    width: calc((100% / 12 * 11) - 10px); }
  [class~='dt-w12-sm'] {
    width: calc((100% / 12 * 12) - 10px); } }

@media screen and (min-width: 768px) {
  [class~='dt-dn-md'] {
    display: none; }
  [class~='dt-db-md'] {
    display: block; }
  [class~='dt-dib-md'] {
    display: inline-block; }
  [class~='dt-df-md'] {
    display: flex;
    flex-direction: row; }
  [class~='dt-dfc-md'] {
    display: flex;
    flex-direction: column; }
  [class~='dt-ffr-md'] {
    flex-flow: row; }
  [class~='dt-ffrr-md'] {
    flex-flow: row-reverse; }
  [class~='dt-ffc-md'] {
    flex-flow: column; }
  [class~='dt-ffcr-md'] {
    flex-flow: column-reverse; }
  [class~='dt-ffnw-md'] {
    flex-flow: nowrap; }
  [class~='dt-ffw-md'] {
    flex-flow: wrap; }
  [class~='dt-ffwr-md'] {
    flex-flow: wrap-reverse; }
  [class~='dt-fww-md'] {
    flex-wrap: wrap; }
  [class~='dt-fwnw-md'] {
    flex-wrap: nowrap; }
  [class~='dt-fwwr-md'] {
    flex-wrap: wrap-reverse; }
  [class~='dt-jcc-md'] {
    justify-content: center; }
  [class~='dt-jcsb-md'] {
    justify-content: space-between; }
  [class~='dt-jcsa-md'] {
    justify-content: space-around; }
  [class~='dt-jcse-md'] {
    justify-content: space-evenly; }
  [class~='dt-jcfs-md'] {
    justify-content: flex-start; }
  [class~='dt-jcfe-md'] {
    justify-content: flex-end; }
  [class~='dt-jcvc-md'] {
    align-items: center;
    justify-content: center; }
  [class~='dt-aib-md'] {
    align-items: baseline; }
  [class~='dt-aifb-md'] {
    align-items: first baseline; }
  [class~='dt-ailb-md'] {
    align-items: last baseline; }
  [class~='dt-aist-md'] {
    align-items: stretch; }
  [class~='dt-aic-md'] {
    align-items: center; }
  [class~='dt-aifs-md'] {
    align-items: flex-start; }
  [class~='dt-aife-md'] {
    align-items: flex-end; }
  [class~='dt-asfs-md'] {
    align-self: flex-start; }
  [class~='dt-asc-md'] {
    align-self: center; }
  [class~='dt-asfe-md'] {
    align-self: flex-end; }
  [class~='dt-asb-md'] {
    align-self: baseline; }
  [class~='dt-asfb-md'] {
    align-self: first baseline; }
  [class~='dt-aslb-md'] {
    align-self: last baseline; }
  [class~='dt-asst-md'] {
    align-self: stretch; }
  [class~='dt-fg1-md'] {
    flex-grow: 1; }
  [class~='dt-fg2-md'] {
    flex-grow: 2; }
  [class~='dt-fg3-md'] {
    flex-grow: 3; }
  [class~='dt-fg4-md'] {
    flex-grow: 4; }
  [class~='dt-fg5-md'] {
    flex-grow: 5; }
  [class~='dt-fg6-md'] {
    flex-grow: 6; }
  [class~='dt-fg7-md'] {
    flex-grow: 7; }
  [class~='dt-fg8-md'] {
    flex-grow: 8; }
  [class~='dt-fg9-md'] {
    flex-grow: 9; }
  [class~='dt-fg10-md'] {
    flex-grow: 10; }
  [class~='dt-fg11-md'] {
    flex-grow: 11; }
  [class~='dt-fg12-md'] {
    flex-grow: 12; }
  [class~='dt-fs1-md'] {
    flex-shrink: 1; }
  [class~='dt-fs2-md'] {
    flex-shrink: 2; }
  [class~='dt-fs3-md'] {
    flex-shrink: 3; }
  [class~='dt-fs4-md'] {
    flex-shrink: 4; }
  [class~='dt-fs5-md'] {
    flex-shrink: 5; }
  [class~='dt-fs6-md'] {
    flex-shrink: 6; }
  [class~='dt-fs7-md'] {
    flex-shrink: 7; }
  [class~='dt-fs8-md'] {
    flex-shrink: 8; }
  [class~='dt-fs9-md'] {
    flex-shrink: 9; }
  [class~='dt-fs10-md'] {
    flex-shrink: 10; }
  [class~='dt-fs11-md'] {
    flex-shrink: 11; }
  [class~='dt-fs12-md'] {
    flex-shrink: 12; }
  [class~='dt-fba-md'] {
    flex-basis: auto; }
  [class~='dt-ma-md'] {
    margin: auto; }
  [class~='dt-mla-md'] {
    margin-left: auto; }
  [class~='dt-mra-md'] {
    margin-right: auto; }
  [class~='dt-w1-md'] {
    width: calc((100% / 12 * 1) - 10px); }
  [class~='dt-w2-md'] {
    width: calc((100% / 12 * 2) - 10px); }
  [class~='dt-w3-md'] {
    width: calc((100% / 12 * 3) - 10px); }
  [class~='dt-w4-md'] {
    width: calc((100% / 12 * 4) - 10px); }
  [class~='dt-w5-md'] {
    width: calc((100% / 12 * 5) - 10px); }
  [class~='dt-w6-md'] {
    width: calc((100% / 12 * 6) - 10px); }
  [class~='dt-w7-md'] {
    width: calc((100% / 12 * 7) - 10px); }
  [class~='dt-w8-md'] {
    width: calc((100% / 12 * 8) - 10px); }
  [class~='dt-w9-md'] {
    width: calc((100% / 12 * 9) - 10px); }
  [class~='dt-w10-md'] {
    width: calc((100% / 12 * 10) - 10px); }
  [class~='dt-w11-md'] {
    width: calc((100% / 12 * 11) - 10px); }
  [class~='dt-w12-md'] {
    width: calc((100% / 12 * 12) - 10px); } }

@media screen and (min-width: 1050px) {
  [class~='dt-dn-lg'] {
    display: none; }
  [class~='dt-db-lg'] {
    display: block; }
  [class~='dt-dib-lg'] {
    display: inline-block; }
  [class~='dt-df-lg'] {
    display: flex;
    flex-direction: row; }
  [class~='dt-dfc-lg'] {
    display: flex;
    flex-direction: column; }
  [class~='dt-ffr-lg'] {
    flex-flow: row; }
  [class~='dt-ffrr-lg'] {
    flex-flow: row-reverse; }
  [class~='dt-ffc-lg'] {
    flex-flow: column; }
  [class~='dt-ffcr-lg'] {
    flex-flow: column-reverse; }
  [class~='dt-ffnw-lg'] {
    flex-flow: nowrap; }
  [class~='dt-ffw-lg'] {
    flex-flow: wrap; }
  [class~='dt-ffwr-lg'] {
    flex-flow: wrap-reverse; }
  [class~='dt-fww-lg'] {
    flex-wrap: wrap; }
  [class~='dt-fwnw-lg'] {
    flex-wrap: nowrap; }
  [class~='dt-fwwr-lg'] {
    flex-wrap: wrap-reverse; }
  [class~='dt-jcc-lg'] {
    justify-content: center; }
  [class~='dt-jcsb-lg'] {
    justify-content: space-between; }
  [class~='dt-jcsa-lg'] {
    justify-content: space-around; }
  [class~='dt-jcse-lg'] {
    justify-content: space-evenly; }
  [class~='dt-jcfs-lg'] {
    justify-content: flex-start; }
  [class~='dt-jcfe-lg'] {
    justify-content: flex-end; }
  [class~='dt-jcvc-lg'] {
    align-items: center;
    justify-content: center; }
  [class~='dt-aib-lg'] {
    align-items: baseline; }
  [class~='dt-aifb-lg'] {
    align-items: first baseline; }
  [class~='dt-ailb-lg'] {
    align-items: last baseline; }
  [class~='dt-aist-lg'] {
    align-items: stretch; }
  [class~='dt-aic-lg'] {
    align-items: center; }
  [class~='dt-aifs-lg'] {
    align-items: flex-start; }
  [class~='dt-aife-lg'] {
    align-items: flex-end; }
  [class~='dt-asfs-lg'] {
    align-self: flex-start; }
  [class~='dt-asc-lg'] {
    align-self: center; }
  [class~='dt-asfe-lg'] {
    align-self: flex-end; }
  [class~='dt-asb-lg'] {
    align-self: baseline; }
  [class~='dt-asfb-lg'] {
    align-self: first baseline; }
  [class~='dt-aslb-lg'] {
    align-self: last baseline; }
  [class~='dt-asst-lg'] {
    align-self: stretch; }
  [class~='dt-fg1-lg'] {
    flex-grow: 1; }
  [class~='dt-fg2-lg'] {
    flex-grow: 2; }
  [class~='dt-fg3-lg'] {
    flex-grow: 3; }
  [class~='dt-fg4-lg'] {
    flex-grow: 4; }
  [class~='dt-fg5-lg'] {
    flex-grow: 5; }
  [class~='dt-fg6-lg'] {
    flex-grow: 6; }
  [class~='dt-fg7-lg'] {
    flex-grow: 7; }
  [class~='dt-fg8-lg'] {
    flex-grow: 8; }
  [class~='dt-fg9-lg'] {
    flex-grow: 9; }
  [class~='dt-fg10-lg'] {
    flex-grow: 10; }
  [class~='dt-fg11-lg'] {
    flex-grow: 11; }
  [class~='dt-fg12-lg'] {
    flex-grow: 12; }
  [class~='dt-fs1-lg'] {
    flex-shrink: 1; }
  [class~='dt-fs2-lg'] {
    flex-shrink: 2; }
  [class~='dt-fs3-lg'] {
    flex-shrink: 3; }
  [class~='dt-fs4-lg'] {
    flex-shrink: 4; }
  [class~='dt-fs5-lg'] {
    flex-shrink: 5; }
  [class~='dt-fs6-lg'] {
    flex-shrink: 6; }
  [class~='dt-fs7-lg'] {
    flex-shrink: 7; }
  [class~='dt-fs8-lg'] {
    flex-shrink: 8; }
  [class~='dt-fs9-lg'] {
    flex-shrink: 9; }
  [class~='dt-fs10-lg'] {
    flex-shrink: 10; }
  [class~='dt-fs11-lg'] {
    flex-shrink: 11; }
  [class~='dt-fs12-lg'] {
    flex-shrink: 12; }
  [class~='dt-fba-lg'] {
    flex-basis: auto; }
  [class~='dt-ma-lg'] {
    margin: auto; }
  [class~='dt-mla-lg'] {
    margin-left: auto; }
  [class~='dt-mra-lg'] {
    margin-right: auto; }
  [class~='dt-w1-lg'] {
    width: calc((100% / 12 * 1) - 10px); }
  [class~='dt-w2-lg'] {
    width: calc((100% / 12 * 2) - 10px); }
  [class~='dt-w3-lg'] {
    width: calc((100% / 12 * 3) - 10px); }
  [class~='dt-w4-lg'] {
    width: calc((100% / 12 * 4) - 10px); }
  [class~='dt-w5-lg'] {
    width: calc((100% / 12 * 5) - 10px); }
  [class~='dt-w6-lg'] {
    width: calc((100% / 12 * 6) - 10px); }
  [class~='dt-w7-lg'] {
    width: calc((100% / 12 * 7) - 10px); }
  [class~='dt-w8-lg'] {
    width: calc((100% / 12 * 8) - 10px); }
  [class~='dt-w9-lg'] {
    width: calc((100% / 12 * 9) - 10px); }
  [class~='dt-w10-lg'] {
    width: calc((100% / 12 * 10) - 10px); }
  [class~='dt-w11-lg'] {
    width: calc((100% / 12 * 11) - 10px); }
  [class~='dt-w12-lg'] {
    width: calc((100% / 12 * 12) - 10px); } }

@media screen and (min-width: 1440px) {
  [class~='dt-dn-xl'] {
    display: none; }
  [class~='dt-db-xl'] {
    display: block; }
  [class~='dt-dib-xl'] {
    display: inline-block; }
  [class~='dt-df-xl'] {
    display: flex;
    flex-direction: row; }
  [class~='dt-dfc-xl'] {
    display: flex;
    flex-direction: column; }
  [class~='dt-ffr-xl'] {
    flex-flow: row; }
  [class~='dt-ffrr-xl'] {
    flex-flow: row-reverse; }
  [class~='dt-ffc-xl'] {
    flex-flow: column; }
  [class~='dt-ffcr-xl'] {
    flex-flow: column-reverse; }
  [class~='dt-ffnw-xl'] {
    flex-flow: nowrap; }
  [class~='dt-ffw-xl'] {
    flex-flow: wrap; }
  [class~='dt-ffwr-xl'] {
    flex-flow: wrap-reverse; }
  [class~='dt-fww-xl'] {
    flex-wrap: wrap; }
  [class~='dt-fwnw-xl'] {
    flex-wrap: nowrap; }
  [class~='dt-fwwr-xl'] {
    flex-wrap: wrap-reverse; }
  [class~='dt-jcc-xl'] {
    justify-content: center; }
  [class~='dt-jcsb-xl'] {
    justify-content: space-between; }
  [class~='dt-jcsa-xl'] {
    justify-content: space-around; }
  [class~='dt-jcse-xl'] {
    justify-content: space-evenly; }
  [class~='dt-jcfs-xl'] {
    justify-content: flex-start; }
  [class~='dt-jcfe-xl'] {
    justify-content: flex-end; }
  [class~='dt-jcvc-xl'] {
    align-items: center;
    justify-content: center; }
  [class~='dt-aib-xl'] {
    align-items: baseline; }
  [class~='dt-aifb-xl'] {
    align-items: first baseline; }
  [class~='dt-ailb-xl'] {
    align-items: last baseline; }
  [class~='dt-aist-xl'] {
    align-items: stretch; }
  [class~='dt-aic-xl'] {
    align-items: center; }
  [class~='dt-aifs-xl'] {
    align-items: flex-start; }
  [class~='dt-aife-xl'] {
    align-items: flex-end; }
  [class~='dt-asfs-xl'] {
    align-self: flex-start; }
  [class~='dt-asc-xl'] {
    align-self: center; }
  [class~='dt-asfe-xl'] {
    align-self: flex-end; }
  [class~='dt-asb-xl'] {
    align-self: baseline; }
  [class~='dt-asfb-xl'] {
    align-self: first baseline; }
  [class~='dt-aslb-xl'] {
    align-self: last baseline; }
  [class~='dt-asst-xl'] {
    align-self: stretch; }
  [class~='dt-fg1-xl'] {
    flex-grow: 1; }
  [class~='dt-fg2-xl'] {
    flex-grow: 2; }
  [class~='dt-fg3-xl'] {
    flex-grow: 3; }
  [class~='dt-fg4-xl'] {
    flex-grow: 4; }
  [class~='dt-fg5-xl'] {
    flex-grow: 5; }
  [class~='dt-fg6-xl'] {
    flex-grow: 6; }
  [class~='dt-fg7-xl'] {
    flex-grow: 7; }
  [class~='dt-fg8-xl'] {
    flex-grow: 8; }
  [class~='dt-fg9-xl'] {
    flex-grow: 9; }
  [class~='dt-fg10-xl'] {
    flex-grow: 10; }
  [class~='dt-fg11-xl'] {
    flex-grow: 11; }
  [class~='dt-fg12-xl'] {
    flex-grow: 12; }
  [class~='dt-fs1-xl'] {
    flex-shrink: 1; }
  [class~='dt-fs2-xl'] {
    flex-shrink: 2; }
  [class~='dt-fs3-xl'] {
    flex-shrink: 3; }
  [class~='dt-fs4-xl'] {
    flex-shrink: 4; }
  [class~='dt-fs5-xl'] {
    flex-shrink: 5; }
  [class~='dt-fs6-xl'] {
    flex-shrink: 6; }
  [class~='dt-fs7-xl'] {
    flex-shrink: 7; }
  [class~='dt-fs8-xl'] {
    flex-shrink: 8; }
  [class~='dt-fs9-xl'] {
    flex-shrink: 9; }
  [class~='dt-fs10-xl'] {
    flex-shrink: 10; }
  [class~='dt-fs11-xl'] {
    flex-shrink: 11; }
  [class~='dt-fs12-xl'] {
    flex-shrink: 12; }
  [class~='dt-fba-xl'] {
    flex-basis: auto; }
  [class~='dt-ma-xl'] {
    margin: auto; }
  [class~='dt-mla-xl'] {
    margin-left: auto; }
  [class~='dt-mra-xl'] {
    margin-right: auto; }
  [class~='dt-w1-xl'] {
    width: calc((100% / 12 * 1) - 10px); }
  [class~='dt-w2-xl'] {
    width: calc((100% / 12 * 2) - 10px); }
  [class~='dt-w3-xl'] {
    width: calc((100% / 12 * 3) - 10px); }
  [class~='dt-w4-xl'] {
    width: calc((100% / 12 * 4) - 10px); }
  [class~='dt-w5-xl'] {
    width: calc((100% / 12 * 5) - 10px); }
  [class~='dt-w6-xl'] {
    width: calc((100% / 12 * 6) - 10px); }
  [class~='dt-w7-xl'] {
    width: calc((100% / 12 * 7) - 10px); }
  [class~='dt-w8-xl'] {
    width: calc((100% / 12 * 8) - 10px); }
  [class~='dt-w9-xl'] {
    width: calc((100% / 12 * 9) - 10px); }
  [class~='dt-w10-xl'] {
    width: calc((100% / 12 * 10) - 10px); }
  [class~='dt-w11-xl'] {
    width: calc((100% / 12 * 11) - 10px); }
  [class~='dt-w12-xl'] {
    width: calc((100% / 12 * 12) - 10px); } }
