
@each $abstraction, $rule in $bigmap {
  [data-display-type~="#{$abstraction}"] {
    @each $property, $value in $rule {
      #{$property}: #{$value};
    }
  }
}

/* Margin */
[data-display-type~="m-a"] { margin: auto; }
[data-display-type~="ml-a"] { margin-left: auto; }
[data-display-type~="mr-a"] { margin-right: auto; }